@media only screen and (min-width:641px){
.places section {
    grid-template-areas: 
    "image name"
    "image description"
    "image address"
    "image learn-more";
}
.places section #image{
    width: 300px;
}
.places section #image:hover {
    transform: scale(1.05);
}
}