div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
section {
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #eee;
	border: 1px solid rgb(0 0 0 / 10%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

section > p {
	min-height: 60px;
	font-size: smaller;
	text-align: center;
}

img {
	width: auto;
	max-width: 325px;
	box-shadow: 0 0 30px #777;
	height: 200px;
	border: 1px solid #111;
}